{% extends "base.html" %}

{% block content %}

<div class="kt-subheader kt-grid__item" id="kt_subheader">
	<div class="kt-container  kt-container--fluid ">
		<div class="kt-subheader__main">
			<h3 class="kt-subheader__title">
				Empty Page </h3>
			<span class="kt-subheader__separator kt-hidden"></span>
			<div class="kt-subheader__breadcrumbs">
				<a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a href="" class="kt-subheader__breadcrumbs-link">
					General </a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a href="" class="kt-subheader__breadcrumbs-link">
					Empty Page </a>

				<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
			</div>
		</div>
		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#overview">
							<i class="la la-exclamation-triangle"></i> Overview
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#analysis">
							<i class="la la-cloud-download"></i> Analysis
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- end:: Subheader -->

<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="padding-left: 0; padding-right: 0">
	<div class="tab-content">
		<div class="tab-pane active" id="overview" role="tabpanel">
			<div class="row">

			
				<div class="col-8 order-lg-1 order-xl-1">
					<div class="kt-portlet kt-portlet--height-fluid">
						<div class="kt-portlet__head">
							<div class="kt-portlet__head-label">
								<h3 class="kt-portlet__head-label">Data</h3>
							</div>
							<div class="kt-portlet__head-toolbar">
								<!-- Data or train and test data tabs go here -->
							</div>
						</div>
						<div class="kt-portlet__body">
							<!-- Data goes here-->
							Data
						</div>
					</div>
				</div>

				<div class="col-4 order-lg-1 order-xl-1">
					<div class="kt-portlet kt-portlet--height-fluid">
						<div class="kt-portlet__head">
							<div class="kt-portlet__head-label">
								<h3 class="kt-portlet__head-label">Properties</h3>
							</div>						
						</div>
						<div class="kt-portlet__body">
							<!-- Data goes here-->
							Properties
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane" id="analysis" role="tabpanel">
			Analysis2 goes here...
		</div>
	</div>

</div>

{% endblock content %}