interpret_core
ptitprince
seaborn
pandas_profiling
gensim
nltk
matplotlib<3.1.1
numpy==1.17.4
pandas==0.25.1
shap
textblob
Click
yellowbrick
pandas_summary
ipython
interpret
scikit_learn
PyYAML
spacy
xgboost
qgrid
ipywidgets
python-dateutil<2.8.1
itables
python-docx
graphviz
swifter
lightgbm
catboost
mlflow
statsmodels
